html,
body {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);

    --roboto-mono: "Roboto Mono", monospace;
    --playfair-display: "Playfair Display", serif;
    --fjalla-one-reg: "Fjalla One", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;

    position: sticky;
    top: 0px;
    left: 0px;
    color: #f0f0f0;
}

.header a {
    cursor: pointer;
    text-decoration: none;
    color: #f0f0f0;
    user-select: none;
    -moz-user-select: none;

    font-family: var(--roboto-mono);

    transition: all 0.3s ease;
}

.header a:focus,
.header a:hover {
    color: #d1d1d1;
    outline: none;
}

.title {
    margin: 0;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;

    cursor: pointer;
}

.nav {
    margin-right: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scaleX(1.2) translateX(-5px) translateY(2px);

}


.section {
    height: calc(100vh - 3rem);
    color: white;
}

#landing {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 0), transparent, rgb(0, 0, 0)),
        url('./assets/images/bg4.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    user-select: none;
    -moz-user-select: none;
}

.game-title {
    font-size: 3rem;
    margin: 0;
    padding: 0;

    color: #292929;
    font-family: var(--fjalla-one-reg);
}

.btn-group {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn {
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;

    font-family: var(--roboto-mono);

    background-color: #105f41;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
    background-color: #0a4931;
    outline: none;
}

.btn:nth-child(2) {
    background-color: #292929;
}

.btn:nth-child(2):hover,
.btn:nth-child(2):focus {
    background-color: #141414;
}



#about {
    background-image:
        linear-gradient(to left, rgb(0, 0, 0), transparent),
        linear-gradient(to bottom, rgb(0, 0, 0), transparent, rgb(0, 0, 0)),
        url('./assets/images/bg3.jpg');
    background-size: cover;

    font-family: var(--roboto-mono);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    color: #d1d1d1;
}

.about-con {
    width: 40%;
    margin-right: 4rem;
    user-select: none;
    -moz-user-select: none;
}

.about-con h2 {
    font-size: 1.1rem;
}

.about-con p {
    text-align: justify;
    font-size: 0.9rem;

}

.about-con ul li {
    font-size: 0.8rem;
}

.controlls span {
    background-color: #d1d1d1;
    color: #141414;
    padding: 3px 10px;
    border-radius: 5px;
}

#connect {
    background-image:
        linear-gradient(to right, rgb(0, 0, 0), transparent),
        linear-gradient(to bottom, rgb(0, 0, 0), transparent, rgb(0, 0, 0)),
        url('./assets/images/bg2.jpg');
    background-size: cover;

    font-family: var(--roboto-mono);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: #d1d1d1;
}

.dev-info-con {
    width: 40%;
    margin-left: 4rem;
    user-select: none;
    -moz-user-select: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dev-info-con h2 {
    font-size: 1.4rem;
}

.dev-info-con p {
    text-align: justify;
}

.dev-info-con p a {
    text-decoration: none;
    color: #d1d1d1;
}

.dev-info-con p a span {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0;
    transform: translateY(3px);
}

.dev-info-con p a span::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;

    animation: loop-dash 2s linear infinite;
}

@keyframes loop-dash {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(200%);
        opacity: 0;
    }
}

.social-con {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    margin-bottom: 1rem;
    cursor: pointer;

    text-decoration: none;
}

.social-con .icon {
    width: 24px;
    height: 24px;
}

.social-con span {
    color: #d1d1d1;
}


.social-con:hover span,
.social-con:hover .icon {
    opacity: 0.5;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin: 4rem auto;
    color: #d1d1d1;
    font-family: var(--roboto-mono);

    font-size: 0.8rem;

    padding-bottom: 100px;
}

.contact a {
    text-decoration: none;
    color: #d1d1d1;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .section {
        height: calc(50vh - 3rem);
    }
}

@media screen and (max-width: 768px) {
    .title {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .nav {
        margin-right: 1rem;
    }

    .section {
        height: calc(30vh - 2rem);
    }

    .game-title {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1rem;
    }
}